*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, white, rgb(178, 196, 239));
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  
  
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: 2px solid white;
  
}

.calculator-grid > button:hover {
  background: rgba(204, 222, 237, 0.9);

}

.output {
  grid-column: 1 / -1;
  margin-top: 10px;
  word-wrap: break-word;
  word-wrap: break-all;
}

.display {
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;
  color:rgb(242, 247, 247);
  border: 2px solid white;
  background-color: black;
  
}

.span-2 {
  grid-column: span 2;
  font-size: 40px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, white, rgb(239, 237, 178));

  /* border-radius: 50px; */
  /* margin-right: 10px; */
  border: solid rgb(240, 240, 235);
}


.number {
  font-size: 40px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, white, rgb(239, 237, 178));

  /* border-radius: 50px; */
  /* margin-right: 10px; */
  border: solid rgb(240, 240, 235);
}

.operator {
  font-size: 40px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, white, rgb(230, 218, 238));

  /* border-radius: 50px; */
  /* margin-right: 10px; */
  border: solid rgb(246, 246, 176);

}

