* {
  box-sizing: border-box;
}

body {
  height: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.content {
  display: block;
  align-content: center;
}

.flex-container {
  display: flex;
  border: solid teal 6px;
  width: 310px;
  height: 620px;
  margin-top: 40px;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(18, 43, 46);
  
}

.output-button {
  display: flex;

}

.output {
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
  margin-top: 20px;
  height: 70px;
  width: 60px;
  flex: 1;
  border-radius: 10px;
  background-color: lightgray;
}

.buttons {
  margin-top: 30px;


}

.one {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;
}

.two {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;


}

.three {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;

}

.row1 {
  margin-bottom: 7px;
  

}

.four {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;

}

.five {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;

}

.six {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.row2 {
  margin-bottom: 7px;
  

}

.seven {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;

}

.eight {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;

}

.nine {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;

}

.row3 {
  margin-bottom: 7px;

}

.zero {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;


}

.plus {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;


}

.minus {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.row4 {
  margin-bottom: 7px;

}

.multiply {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;
  line-height: 75px;


}

.divide {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 5px;
  line-height: 75px;


}

.decimal {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  line-height: 75px;



}



.row6 {
  margin-top: 12px;
  display: flex;
}

.equals {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  flex-basis: 50%;
  border-radius: 50px;
  margin-left: 2px;


}

.clear {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  flex-basis: 50%;
  border-radius: 50px;
  margin-left: 5px;

}

.bottom-texture {
  text-align: center;
  color: gray;
}